/* Rating.module.css */

.container {
  display: flex;
  justify-content: flex-start; 
  border: 1px solid #007bff; 
  background-color: #000; 
  color: #000; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  width: 100%; 
}

.star {
  font-size: 36px;
  color: grey;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.star.selected {
  color: gold;
}

.rating-text {
  font-size: 20px;
  margin-top: 20px;
  width: 100%; 
}

ul {
  list-style-type: none; 
  padding: 0;
}

li {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%; 
}


li span {
  margin-right: 5px; 
}
